<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>677869065066-fdnj122j897kbcainkoe58ac2bk74q70.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.677869065066-fdnj122j897kbcainkoe58ac2bk74q70</string>
	<key>API_KEY</key>
	<string>AIzaSyAQOrZ0LBz7psp_1g7RHkPBBD6lg7nQ2HM</string>
	<key>GCM_SENDER_ID</key>
	<string>677869065066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zoomclone</string>
	<key>PROJECT_ID</key>
	<string>zoomclone-8bb77</string>
	<key>STORAGE_BUCKET</key>
	<string>zoomclone-8bb77.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:677869065066:ios:2be7a24002259c364e8b13</string>
</dict>
</plist>